
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.env
/docker/nginx/ssl/*.pem
/docker/nginx/ssl/*.csr
/docker/nginx/ssl/*.crt
/docker/nginx/ssl/*.key
